

#audio-inputs{
    font-size: 1em;
    height: 70%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 20px;

}


/* CSS for the power switch */

#switch-label {
    position: relative;
    top: 10px;
}
#toggle-power, #toggle-bank {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 10px;
}

/* Hide default HTML checkbox */
 #toggle-power > input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #42b796;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #c37713; ;
}

input:focus + .slider {
  box-shadow: 0 0 1px #c37713; ;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


/* CSS for the information display */

#info-container {
    margin-top: 20px;
}


#info-text{
    font-size: 1em;
    color: white;
}



/* CSS for the volume slider */
#vol-container {
    width: 100%;
    display:inline;
    text-align: center;
    margin-bottom: 100px;
}

#vol-slider{
    -webkit-appearance: none; 
    width: 20vw;
    height: .7vh;
    background: white;
    border-radius: 5px;
}

#vol-slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 10px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: #42b796; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

#vol-slider:hover{
    cursor: pointer;
}








