#container{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 60%;
    height: 90%;
    margin: auto 20px;
}


.drum-pad {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b4d8e2;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;  
}

.drum-pad:hover {
    cursor: pointer;
}

.resize{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #78bacc;
    border-radius: 5px;
    transform: scale(0.95);
    box-shadow:none;
}

